{{#if orders.length}}
<ul>
    {{#each orders}}
    <li>
        <div class="box">
            <img src="{{img}}">
            <h2 id="name">{{name}}</h2>
            <p  id="discription">{{discription}}</p>
            <p  id="price">{{price}}
                <label>$</label>
            </p>
            <button id="btn-delete" type="submit">Delete</button>
        </div>
    </li>
    {{/each}}
</ul>

{{else}}
<p>No Orders?!</p>
{{/if}}
<script src="./functions/cart.js"></script>