<div class="noSidebar" style="flex-direction: row;">
    {{#if orders.length}}
        {{#each orders}}
            <div class="box">
                <label for="name">Custommer Name: <span id="name">{{Name}}</span></label>
                <label for="email">Email: <span id="email">{{Email}}</span></label>
                <label for="phone">Phone number: <span id="phone">{{Phone}}</span></label>
                <label for="address">Address: <span id="address">{{Address}}</span></label>
                <label for="price">Price: <span id="price">{{Price}}</span></label>
            </div>
        {{/each}}
    {{else}}
    <p>No clients?!</p>
    {{/if}}
</div>